@use '@sass_settings/sizes.scss';

.container {
  padding: 20px;
  background-color: var(--button-color);
  color: white;
  font-size: 1.3rem;

  &:disabled {
    background-color: rgb(134, 94, 134);
  }

  &:enabled:active {
    transform: scale(0.96);
  }

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: greenyellow;
      color: red;
    }
  }

  @media only screen and (min-width: #{sizes.$mobile}) {
    border: 4px solid black;
  }

  @media only screen and (min-width: #{sizes.$tablet}) {
    border: 4px solid grey;
  }

  @media only screen and (min-width: #{sizes.$desktop}) {
    border: 4px solid white;
  }
}

.rounded {
  border: 5px solid black;
  border-radius: 1rem;
}

.square {
  border: 5px solid black;
}
