@use '@sass_settings/sizes.scss';

@font-face {
  font-family: opensans;
  src: url(../../public/fonts/open_sans/OpenSans-Regular.ttf);
}

:root {
  --section-width: 90%;

  --color-dark-1: #1e1e1e;
  --color-dark-2: #121212;

  --color-light-1: #ffff;
  --color-light-2: rgb(222, 222, 222);

  --color-brand-primary-1: #003049;
  --color-brand-primary-2: #003843;
  --color-brand-primary-3: #00313b;
  --color-brand-secondary-1: #bb3e03;
  --color-brand-secondary-2: #ae2012;
  --color-brand-secondary-3: #9b2226;

  --button-color: seagreen;

  @media (min-width: sizes.$tablet) {
    --section-width: 75%;
  }

  @media (min-width: sizes.$desktop) {
    --section-width: 80%;
  }
}
